<div id="app" class="body-root">
	<div class="body-header" >
		<div class="header-title">
			<i class="fa fa-bank" aria-hidden="true"></i> Account
		</div>
		<div class="header-subtitle" >
			Your account overview and your transactions history
		</div>
	</div>
	<div class="body-content" >

		<div class="panel inline" v-if="currentScanBlock+1 !== blockchainHeight" >
			<div class="progress" >
				<div class="bar" :style="'width:'+((currentScanBlock+1)/blockchainHeight*100 | 0)+'%'" >{{(((currentScanBlock+1)/blockchainHeight*1000 | 0) / 10)}}%</div>
				<label>
					Synchronizing <span class="currentScanBlock" >{{currentScanBlock+1}}</span>/<span class="blockchainHeight" >{{blockchainHeight}}</span>
				</label>
			</div>
		</div>

		<div class="panel">
			<div class="body" >
				<div class="header-title" >Your balance</div>
				<div class="content" >
					<span class="walletAmount" >{{walletAmount | piconero}}</span> MSR
					<tempate class="amount unlocked" v-if="unlockedWalletAmount !== walletAmount" >
						<br/><span class="walletAmount" >Unlocked: {{unlockedWalletAmount | piconero}}</span> MSR
					</tempate>
				</div>
			</div>
		</div>

		<div class="panel nopadding">
			<div class="body" >
				<div class="header-title" >Transactions history</div>
				<div class="content" >

					<div class="transactions" >
						<table>
							<template v-for="transaction of transactions" v-if="transaction.isFullyChecked()">
								<tr class="transaction" :class="(transaction.blockHeight === 0 ? 'pending' : '')">
									<td class="direction" >
										<i v-if="transaction.ins.length == 0" class="fa fa-level-down" aria-hidden="true"></i>
										<i v-else="" class="fa fa-level-up" aria-hidden="true"></i>
									</td><!--LEfT-->
									<td class="timestamp" v-if="transaction.blockHeight > 0">{{transaction.timestamp | date}} ({{transaction.blockHeight}})</td>
									<td class="timestamp" v-else="">Pending...</td>
									<td :class="'amount '+(transaction.getAmount() > 0 ? 'more' : 'less')" >{{transaction.getAmount() | piconero}}</td><!--RIGHT-->
								</tr>
								<tr v-if="transaction.paymentId !== ''">
									<td colspan="3" class="paymentId" >{{transaction.paymentId}}</td><!--UNDER-->
								</tr>
							</template>
							<tr v-if="transactions.length == 0" >
								<td colspan="3" class="noTransactions">
									You currenly have no funds on this wallet.<br/>
									<span v-if="currentScanBlock+1 !== blockchainHeight" >
										Wait until the wallet is updated
										<template v-if="blockchainHeight - currentScanBlock > 100000" >
											<br/>The initial setup can take some time...
										</template>
									</span><br>
									<div class="actions tc" >
										<a href="#receive" class="btn">Get your address to receive MSR</a>
									</div>
								</td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>