<div id="app" >
	<div class="walletHeader" >
		<div class="amount">
			<span class="walletAmount" >{{walletAmount | piconero}}</span> MSR
		</div>
		<div class="amount unlocked" v-if="unlockedWalletAmount !== walletAmount" >
			<span class="walletAmount" >Unlocked: {{unlockedWalletAmount | piconero}}</span> MSR
		</div>
		<div class="connectionStatus" >
			<template v-if="currentScanBlock+1 !== blockchainHeight" >
				Scanning <span class="currentScanBlock" >{{currentScanBlock+1}}</span>/<span class="blockchainHeight" >{{blockchainHeight}}</span>
			</template>
			<div v-else="" >
				Synced
			</div>
 		</div>
	</div>
	<div class="transactions" >
		<table>
		<template v-for="transaction of transactions">
			<tr class="transaction" :class="(transaction.blockHeight === 0 ? 'pending' : '')">
			<td class="direction" >
				<i v-if="transaction.ins.length == 0" class="fa fa-level-down" aria-hidden="true"></i>
				<i v-else="" class="fa fa-level-up" aria-hidden="true"></i>
			</td><!--LEfT-->
			<td class="timestamp" v-if="transaction.blockHeight > 0">{{transaction.timestamp | date}} ({{transaction.blockHeight}})</td>
			<td class="timestamp" v-else="">Pending...</td>
			<td :class="'amount '+(transaction.getAmount() > 0 ? 'more' : 'less')" >{{transaction.getAmount() | piconero}}</td><!--RIGHT-->
			</tr>
			<tr v-if="transaction.paymentId !== ''">
				<td class="paymentId" >{{transaction.paymentId}}</td><!--UNDER-->
			</tr>
		</template>
			<tr v-if="transactions.length == 0" >
				<td colspan="3" class="noTransactions">
					You currenly have no funds on this wallet.<br/>
					<span v-if="currentScanBlock+1 !== blockchainHeight" >
						Wait until the wallet is updated
						<template v-if="blockchainHeight - currentScanBlock > 100000" >
							<br/>The initial setup can take some time...
						</template>
					</span><br>
					<a href="#receive" class="button">Get your address to receive MSR</a>
				</td>
			</tr>
		</table>
	</div>
</div>