<div id="app" class="body-root">
	<div class="body-header" >
		<div class="header-title">
			<i class="fa fa-cog" aria-hidden="true"></i> Change your password
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="content" >
					<div class="field">
						<label>Old password</label>
						<input type="text" v-model="oldPassword" autocomplete="off" >
						<div v-if="invalidOldPassword" class="message error">
							The password is invalid
						</div>
					</div>

					<div class="field" >
						<label>Choose a password to protect your credentials</label>
						<input type="password" v-model="walletPassword" autocomplete="off">
						<div v-if="insecurePassword && !forceInsecurePassword && walletPassword != ''" class="message error">
							The password need at least 8 characters, 1 upper case letter, 1 lower case letter, one number and one special character
							<div class="tc">
								<button @click="forceInsecurePasswordCheck()" class="btn mini">Disable this security, i understand the risk</button>
							</div>
						</div>
					</div>

					<div class="field">
						<label>Confirm the password</label>
						<input type="password" name="public" v-model="walletPassword2">
						<div v-if="walletPassword != '' && walletPassword2 != '' && walletPassword != walletPassword2" class="message error">
							The password does not match the first you wrote
						</div>
					</div>

					<div class="actions tc" >
						<button class="btn" @click="changePassword()" :disabled="!(this.walletPassword !== '' && (!this.insecurePassword || this.forceInsecurePassword) && walletPassword == walletPassword2) && !invalidOldPassword">Change the password</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>