<div id="app" class="body-root" v-cloak="">
	<div class="body-header" >
		<div class="header-title">
			<i class="fa fa-cog" aria-hidden="true"></i>  {{ $t("changeWalletPasswordPage.title") }}
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="content" >
					<div class="field">
						<label>{{ $t("changeWalletPasswordPage.oldPassword.label") }}</label>
						<input type="text" v-model="oldPassword" autocomplete="off" >
						<div v-if="invalidOldPassword" class="message error">
							{{ $t("changeWalletPasswordPage.oldPassword.invalid") }}
						</div>
					</div>

					<div class="field" >
						<label>{{ $t("changeWalletPasswordPage.newPassword.label") }}</label>
						<input type="password" v-model="walletPassword" autocomplete="off">
						<div v-if="insecurePassword && !forceInsecurePassword && walletPassword != ''" class="message error">
							{{ $t("global.passwordInvalidRequirements") }}
							<div class="tc">
								<button @click="forceInsecurePasswordCheck()" class="btn mini">{{ $t("global.disableSecurity") }}</button>
							</div>
						</div>
					</div>

					<div class="field">
						<label>{{ $t("changeWalletPasswordPage.newPasswordConfirm.label") }}</label>
						<input type="password" name="public" v-model="walletPassword2">
						<div v-if="walletPassword != '' && walletPassword2 != '' && walletPassword != walletPassword2" class="message error">
							{{ $t("global.passwordConfirmationNotMatching") }}
						</div>
					</div>

					<div class="actions tc" >
						<button class="btn" @click="changePassword()" :disabled="!(this.walletPassword !== '' && (!this.insecurePassword || this.forceInsecurePassword) && walletPassword == walletPassword2) && !invalidOldPassword">{{ $t("changeWalletPasswordPage.confirm") }}</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>