<img src="./assets/img/Masari_Vertical.png" id="verticalMasariLogo" style="display: none;"/>
<canvas id="canvasExport" style="display: none;"></canvas>

<div id="app" class="body-root" v-cloak="">
	<div class="body-header" v-if="step == 0">
		<div class="header-title">
			{{ $t("createWalletPage.generatingStep.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("createWalletPage.generatingStep.subtitle") }}
		</div>
	</div>
	<div class="body-header" v-if="step == 1 || step == 2">
		<div class="header-title">
			{{ $t("createWalletPage.finalizationStep.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("createWalletPage.finalizationStep.subtitle") }}
		</div>
	</div>

	<div class="body-content" >
		<div class="panel" v-if="step == 0">
			<div class="body" >
				<div class="content tc" >
					<div class="text loader">
						{{ $t("createWalletPage.generatingStep.waitingMessage") }}
					</div>
				</div>
			</div>
		</div>
		<div class="panel" v-if="step == 1">
			<div class="body" >
				<div class="header-title" >{{ $t("createWalletPage.finalizationStep.title") }}</div>
				<div class="content" >
					<div class="field" >
						<label>{{ $t("createWalletPage.finalizationStep.passwordSelectionBlock.label") }}</label>
						<input type="password" v-model="walletPassword" autocomplete="off">
						<div v-if="insecurePassword && !forceInsecurePassword && walletPassword != ''" class="message error">
							{{ $t("global.passwordInvalidRequirements") }}
							<div class="tc">
								<button @click="forceInsecurePasswordCheck()" class="btn mini">{{ $t("global.disableSecurity") }}</button>
							</div>
						</div>
					</div>

					<div class="field">
						<label>{{ $t("createWalletPage.finalizationStep.passwordConfirmBlock.label") }}</label>
						<input type="password" name="public" v-model="walletPassword2">
						<div v-if="walletPassword != '' && walletPassword2 != '' && walletPassword != walletPassword2" class="message error">
							{{ $t("global.passwordConfirmationNotMatching") }}
						</div>
					</div>

					<div class="actions tc">
						<button @click="exportStep()" class="btn primary" :disabled="!(this.walletPassword !== '' && (!this.insecurePassword || this.forceInsecurePassword) && walletPassword == walletPassword2)">{{ $t("createWalletPage.finalizationStep.validPassword") }}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="panel" v-if="step == 2">
			<div class="body" >
				<div class="header-title" >{{ $t("createWalletPage.finalizationStep.backupBlock.title") }}</div>
				<div class="content" >
					<div class="step hideOnNative" >
						<div class="title" ><span class="hideOnNative">{{ $t("createWalletPage.finalizationStep.backupBlock.option1") }}</span>{{ $t("createWalletPage.finalizationStep.backupBlock.titlePdf") }}</div>
						<div class="content tc actions" >
							<button @click="downloadBackup()" class="btn">{{ $t("global.download") }}</button>
						</div>
					</div>
					<div class="step">
						<div class="title" ><span class="hideOnNative" >{{ $t("createWalletPage.finalizationStep.backupBlock.option2") }}</span>{{ $t("createWalletPage.finalizationStep.backupBlock.titleManualWrite") }}</div>
						<div class="content" >
							<div class="message" >
								<div class="title" >{{ $t("createWalletPage.finalizationStep.backupBlock.privateKeys") }}</div>
								<div class="content" >
									{{newWallet.keys.priv.spend}}
								</div>
							</div>
							{{ $t("createWalletPage.finalizationStep.backupBlock.separatorManualMethodsSolution") }}<br/>
							<div class="message" >
								<div class="title" >{{ $t("createWalletPage.finalizationStep.backupBlock.mnemonicPhrase") }}</div>
								<div class="content" >
									{{mnemonicPhrase}}
								</div>
							</div>
							<div class="tc actions" >
								<button @click="walletBackupMade=true" class="btn">{{ $t("createWalletPage.finalizationStep.backupBlock.confirmManuallyWritten") }}</button>
							</div>
						</div>
					</div>
					<div v-html="$t('createWalletPage.finalizationStep.backupBlock.warningMessage')"></div>
					<div class="actions" >
						<button :disabled="!walletBackupMade" @click="finish()" class="btn green">{{ $t("createWalletPage.finalizationStep.backupBlock.finishButton") }}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="panel inline hideOnNative" >
			<div class="body" >
				<div class="header-title" >{{ $t("createWalletPage.disclaimerBlock.title") }}</div>
				<div class="content" v-html="$t('createWalletPage.disclaimerBlock.content')"></div>
			</div>
		</div>
	</div>
</div>