<div id="app" class="body-root">
	<div class="body-header" >
		<div class="header-title">
			Importing wallet from keys
		</div>
		<div class="header-subtitle" >
			Use your keys to create a wallet
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="header-title" >Parameters</div>
				<div class="content" >
					<div class="field toggle checkbox">
						<input type="checkbox" name="public" v-model="viewOnly">
						<label>Do you want a view only wallet</label>
					</div>

					<div class="field">
						<label>Password to protect your wallet</label>
						<input type="password" name="public" v-model="password">
						<div v-if="insecurePassword && !forceInsecurePassword" class="message error">
							The password need at least 8 characters, 1 upper case letter, 1 lower case letter, one number and one special character
							<div class="tc">
								<button @click="forceInsecurePasswordCheck()" class="btn mini">Disable this security, i understand the risk</button>
							</div>
						</div>
					</div>

					<div class="field">
						<label>Confirm the password</label>
						<input type="password" name="public" v-model="password2">
						<div v-if="password != '' && password2 != '' && password != password2" class="message error">
							The password does not match the first you wrote
						</div>
					</div>

					<div class="field">
						<label>Height to import from</label>
						<input type="text" name="public" v-model="importHeight">
					</div>
				</div>
			</div>
		</div>

		<div class="panel" v-if="!viewOnly">
			<div class="body" >
				<div class="header-title" >Wallet keys</div>
				<div class="content" >
					<div class="field">
						<label>Private spend key</label>
						<input type="text" name="public" v-model="privateSpendKey">
					</div>
					<div class="field">
						<label>Private view key (optional)</label>
						<input type="text" name="public" v-model="privateViewKey">
					</div>

					<div class="actions tc" >
						<button @click="importWallet()" class="btn primary" :disabled="!formValid()" >Import</button>
					</div>
				</div>
			</div>
		</div>

		<div class="panel" v-if="viewOnly">
			<div class="body" >
				<div class="header-title" >View only wallet</div>
				<div class="content" >
					<div class="field">
						<label>Public key</label>
						<input type="text" name="public" v-model="publicAddress">
					</div>
					<div class="field">
						<label>Private view key</label>
						<input type="text" name="public" v-model="privateViewKey">
					</div>

					<div class="actions tc" >
						<button @click="importWallet()" class="btn primary" :disabled="!formValid()" >Import</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>