<div id="app" class="body-root" v-cloak="">
	<div class="body-header" >
		<div class="header-title">
			{{ $t("importFromFilePage.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("importFromFilePage.subtitle") }}
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="header-title" >{{ $t("importFromFilePage.title") }}</div>
				<div class="content" >
					<div class="field">
						<label>{{ $t("importBasePage.parametersBlock.password.label") }}</label>
						<input type="password" name="public" v-model="password">
						<div v-if="insecurePassword && !forceInsecurePassword" class="message error">
							{{ $t("global.passwordInvalidRequirements") }}
							<div class="tc">
								<button @click="forceInsecurePasswordCheck()" class="btn mini">{{ $t("global.disableSecurity") }}</button>
							</div>
						</div>
					</div>

					<div class="field">
						<label>{{ $t("importBasePage.parametersBlock.passwordConfirm.label") }}</label>
						<input type="password" name="public" v-model="password2">
						<div v-if="password != '' && password2 != '' && password != password2" class="message error">
							{{ $t("importBasePage.parametersBlock.passwordConfirm.invalid") }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel" >
			<div class="body" >
				<div class="header-title" >{{ $t("importFromFilePage.walletBlock.title") }}</div>
				<div class="content" >
					<div class="actions tc" >
						<button class="btn" @click="selectFile()" >{{ $t("importFromFilePage.walletBlock.label") }}</button>
					</div>

					<div class="actions tc" >
						<button @click="importWallet()" class="btn primary" :disabled="!formValid()" >{{ $t("importFromFilePage.walletBlock.importButton") }}</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>