<div id="app" class="body-root">
	<div class="body-header" >
		<div class="header-title">
			{{ $t("miningPage.title") }}
		</div>
		<div class="header-subtitle" >
			{{ $t("miningPage.subtitle") }}
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="header-title" >{{ $t("miningPage.parameterBlock.title") }}</div>
				<div class="content" >
					<div class="field" >
						<label>{{ $t("miningPage.parameterBlock.labelDestinationAddress") }}:</label>
						<select v-model="miningAddress" >
							<option v-for="address in miningAddressesAvailable" :value="address.address" >{{address.label}}</option>
						</select>
					</div>
					<div class="field" >
						<label>{{ $t("miningPage.parameterBlock.labelThreads") }}:</label>
						<input type="number" v-model="threads" />
					</div>
					<div class="actions" >
						<button @click="start()" v-if="!running" class="btn">{{ $t("miningPage.parameterBlock.start") }}</button>
						<button @click="stop()" v-if="running"  class="btn">{{ $t("miningPage.parameterBlock.stop") }}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="panel inline">
			<div class="body" >
				<div class="header-title" >{{ $t("miningPage.statisticsBlocks.title") }}</div>
				<div class="content" >
					<div><b>{{ $t("miningPage.statisticsBlocks.validShares") }}: </b>{{validShares}}</div>
					<div><b>{{ $t("miningPage.statisticsBlocks.hashrate") }}: </b>{{hashRate}}h/s</div>
					<div><b>{{ $t("miningPage.statisticsBlocks.maxHashrate") }}: </b>{{maxHashRate}}h/s</div>
					<div>
						{{ $t("miningPage.statisticsBlocks.dedicatedHardware") }}<br/>
						<a href="https://get.masaricoin.com" target="_blank" ><i class="fa fa-institution" aria-hidden="true"></i>{{ $t("miningPage.statisticsBlocks.miningHandledBy") }}</a>
						<!--<a href="#!index" >More information on here</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>