<div id="app" class="sendTab">
	<div class="icon">
		<i class="fa fa-paper-plane" aria-hidden="true"></i>
	</div>
	<div class="row">
		<label>Destination address</label>
		<input type="text" v-model="destinationAddressUser" placeholder="Destination address"/>
		<div v-if="!destinationAddressValid && destinationAddressUser != ''" >
			The destination address is invalid
		</div>
		<div v-if="openAliasAddress !== null" style="word-wrap: break-word;">
			The funds will be send to:<br/>
			{{openAliasAddress}} <template v-if="openAliasName !== null" ><br/>({{openAliasName}})</template>
		</div>
	</div>
	<div class="row">
		<label>Amount to send</label>
		<input type="text" v-model="amountToSend" placeholder="10.5 MSR"/>
		<div v-if="!amountToSendValid && amountToSend != ''" >
			The amount is invalid
		</div>
	</div>
	<div class="row">
		<button type="button" class="button" @click="send()" :disabled="!destinationAddressValid || !amountToSendValid" >Send</button>
	</div>
</div>